<form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div>
      <label>Username:</label>
      <input type="text" formControlName="username">
    </div>
    <div>
      <label>Password:</label>
      <input type="text" formControlName="password">
    </div>
    <div>
        <label>Name:</label>
        <input type="text" formControlName="displayName">
      </div>
    <div>
      <label>Imagen:</label>
      <input type="file" (change)="onFileChanged($event)" #fileInput>
    </div>
    <button type="submit">Enviar</button>
  </form>
  